body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f1f2f7;
  height: 100%;
  width: 100%;
}
a{
  color :#777;
  text-decoration: none;
}.padding-top{
  padding-top: 20px;
}.login-page{
  width: 350px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #f2f2f2;
}.login-page .text-center{
  margin-bottom: 10px;
}.box{
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
}.page{
  position: relative;
  display: block;
  top: 50px;
  left: 0;
  padding: 35px 15px 20px 270px;
}

.bg-green{
  background-color: #A3C86D;
}
.bg-blue{
  background-color: #7ACBEE;
}
.bg-yellow{
  background-color: #FDD761;
}
.bg-red{
  background-color: #FF7857;
}
.panel-default >.panel-heading{
  background-color: #f5f5f5;
  border-bottom: 2px solid #3498DB;
  font-size: 15px;
  letter-spacing: .5px;
  padding: 15px;
}.panel-box{
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
}.panel-value{
  width: 60%;
}.panel-icon{
  padding: 30px;
  width: 40%;
  border-radius: 0;
}.panel-icon{
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}.panel-value{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}.panel-value h2{
  margin-top: 30px;
}
.panel-icon i{
  line-height:65px;
  font-size: 40px;
  color: #fff;
}
#header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  /* height: 65px; */
  line-height: 65px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: 0 1px 2px rgba(0,0,0,0.1);
} header > .logo {
    color: #fff;
    text-align: center;
    font-weight: 700; 
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    width: 250px;
    background-color: #16a085;
}.header-date{
  color: #9b9b9b;
  margin-left: 20px;
}
.info-menu{
  height: 60px;
  margin: 0;
  line-height: 60px;
  padding: 0 15px;
}.info-menu li.profile {
  position: relative;
}.profile a.toggle{
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: rgba(150, 150, 158, 1.0);
  position: relative;
  padding: 10px 10px 10px 0;
  margin: 0;
  background: #f9f9f9;
  border-radius: 30px;
}.info-menu li.profile a img{
  width: 30px;
  height: 30px;
}.dropdown-menu{
  margin-top: 4px;
  border-color: #fefefe;
  border-radius: 0;
   box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
  -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
  -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
  }.dropdown-menu li{
    margin: 0;
    padding: 0;
    display: block;
    line-height: 35px;
 }.dropdown-menu li a{
  text-decoration: none;
  display: block;
  font-size: 14px;
  position: relative;
  line-height: 30px;
  width: 100%;
  border-bottom: 1px solid #f4faf9;
}.dropdown-menu li a i{
  margin-right: 5px;
}.dropdown-menu li.last a{
  border-bottom: 0;
}.datepicker{
  text-align: center;
}
.sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  padding: 65px 0 0;
  height: 100%;
  width: 250px;
  background: #2a3542;
  border-right: 1px solid #ddd;
  text-align: center;
  overflow: scroll!important;
}.sidebar ul li:hover,.submenu ul li:hover{
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}.sidebar ul li {
  display: block;
}.sidebar ul li:hover,ul.submenu{
  background-color:#35404d;
}.sidebar ul li a:hover {
  color: white;
}.sidebar ul li a,ul.submenu li a {
  color: #aeb2b7;
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
}.sidebar ul li a span,.sidebar ul li i{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-shadow: 0 1px rgba(0,0,0, 1);
}.sidebar ul li a i{
  color: #aeb2b7;
  padding: 15px 22px;
  text-align: center;
}ul.submenu{
  display: none;
  position: relative;
}ul.submenu li a:hover{
  background-color:#35404d;
}ul.submenu li a {
  padding-left: 45px;
}ul.submenu li:before{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 0;
  bottom: 0;
  border: 1px dotted #d7d7d7;
  border-width: 0 0 0 1px;
}ul.submenu li a:before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  left: 25px;
  top: 18px;
  border-top: 1px dotted #d7d7d7;
}

.sale_report_header{
  padding: 15px 0;
}
table td h6{
  margin: 0 0 0.2em 0;
}
table tfoot tr td:first-child{
  border: 0;
}table tfoot tr td:last-child{
  border-top: 1px solid #ccc;
}table td h6,table tfoot tr td:last-child{
  color: #000;
  _font-size: 1.2em;
  font-weight: normal;
}
.form-control{
  color: #646464;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-transition: all .15s ease-out;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}.form-control:focus{
  background: #f8f8f8;
  border-color: #3498DB;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn{
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
}.btn-primary {
    color: #fff;
    background-color: #51aded;
    border-color: #3d8fd8
}.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: #3175b8;
    border-color: #3d8fd8
}.btn-success{
   background-color:#2ecc71
}.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active{
  background-color:#27ae60
}.btn-warning{
  background-color: #e7c13e;
  border-color: #dfba3c;
}.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active{
  background-color:#d0ac2c;
  border-color: #dfba3c;
}.btn-danger{
  background-color: #ed5153
}.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active{
  background-color:#bb282a
}.input-group-addon{
  background-color: #fcfcfc;
  border: 1px solid #dbdbdb;
  border-radius: 0;
}
input[type=file]{
  text-indent: -99999px;
}td img.img-thumbnail{
  width: 125px;
  height: 125px;
  vertical-align: top;
}.img-avatar{
  width: 50px;
  height: 50px;
}
.jumbotron{
  margin-bottom: 0;
}.list-group-item:first-child,.list-group-item:last-child{
  border-radius: 0;
}.profile .jumbotron{
  border-radius: 3px 3px 0 0;
}.profile .jumbotron h3{
  color: white;
}img.img-size-2{
  width: 125px;
  height: 125px;
}
.logo.pull-left img {
  width: 23%;
}
.form-group .pull-center {
  margin-left: 39%;
}
input[type="file"] {
  text-indent: inherit;
}
.main-footer {
    background: #fff;
    padding: 15px 14px 15px 26rem;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.content-footer{
  margin: 1em;
  min-height: 16vh;
  padding: 1em;
}
.ajs-button.ajs-ok {
  background-color:#ed5153;
  border: none;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
}
.ajs-button.ajs-cancel{
  background-color:#e7c13e;
  border: none;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
}
.alertify .ajs-body .ajs-content {
  font-size: 20px;
}
.alertify .ajs-dialog{
  border:none!important;

}
.ajs-header{
background-color: #0b4f42!important;
color: #fff!important;
}
.label-created_by {
  background-color: #7266f1;
}
.form-group .codigo-title{
  margin-left: -1.5rem;
}
.form-group .product-manufact {
  width: 105%;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #fbfbfb;
}
.active-status {
  margin-bottom: 4rem;
}
.img-product {
  width: 60%;
  margin-top: -4rem;
}
.display-product {
  display: flex;
  justify-content: center;
  margin-left: -1rem;
}
.panel-body {
  margin-top: 34px !important;
}
.file_upload{
  margin-top: -0.5rem;
}
.label-center {
  margin-left: -1.5rem;
}

.bar-code{
  margin-top: 6rem;
}
::-webkit-scrollbar {
  display: none;
}
.col-md-12.right {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.right label {
  padding-right: 10px;
}
.right .search {
  width: 20%;
}
.btn-right{
    top: -19px;
    position: relative;
    margin-top: -11px;
}

.btn-right button{
  float: right;
}

.pull-right.btn-primary {
  margin-left: 1rem!important;
}

.btn-add {
  top: 4.5rem;
  position: relative;
  z-index: 2;
  right: 1.7rem;
}

.add-compra{
  float: right;
  margin-top: -13rem;
  position: absolute;
} 
.panel-report {
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.nav-tabs.nav-justified>li {
  display: table-cell;
  width: 1%;
  background-color: #fff4f4!important;
  border-radius: 0px 10px 0px 0px;
}

li.active {
  font-weight: 600!important;
}

.nav-tabs.nav-justified>.active>a{
  border-color: #fff!important;
}
.panel-body.kardex {
  margin-top: 0px!important;
}

.pull-right-print {
  top: 5rem;
  position: relative;
}
.col-md-12 .right {
  float: right!important;
}
.right {
  float: right!important;
}
.pull-center {
  margin-bottom: -5rem;
}
.pull-center div{
  padding-top: 3rem!important;
  padding-right: 3rem!important;
}